=content_for :content_title, t('terms.client', :count => 2)
=content_for :subject_content do
  =render "shared/content_title"

%ul{:class => 'reset toolbar'}
  %li{:class => 'left'}
    %form
      %input{:type => 'text', :id => 'patient-search', :class => 'search-input'}

  %li{:class => 'right'}
    %div{:class => 'dropdown btn-group'}
      =link_to content_tag(:span, '', :class => 'icon-user-add' ) + t('actions.invite_clients'), "#", :class => 'dropdown-toggle button prime', :data => {:toggle=>"dropdown"}
      %ul{:class => 'dropdown-menu'}
        %li
          =link_to t('actions.minor'), "/#invitation_items/invite/guardian"
        %li
          =link_to t('actions.adult'), "/#invitation_items/invite/subject"


%table.table
  %thead
    %tr
      %th
        = t('person.name')
      %th{:class => 'small'}
        = t('views.users.content.uncompleted_requests')
      %th{:class => 'small'}
        = t('views.users.content.completed_requests')
      %th{:class => 'small'}
        = t('views.users.content.login_as')
  %tbody
    -@patients.each do |p|
      %tr
        %td
          = link_to p.full_name, subject_path(p)
        %td{:class => 'thin center incomplete'}
          - u = p.responder_items.surveys.uncompleted.count
          -unless u.zero?
            %span
              = u
        %td{:class => 'thin center overdue'}
          - o = p.responder_items.surveys.overdue.count
          - unless o.zero?
            %span
              = o
        %td{:class => 'center login'}
          -unless p.list_respondents.size.zero?
            %a{:href => login_as_path(p.list_respondents.first)}
              %span.icon-user
              %span.icon-share-alt      
