%tr{:class => item.item_type}
  %td= link_to item.subject.full_name, person_path(item.subject)
  %td= t("surveys.#{item.access_code}.name")
  %td="#{item.respondent.firstname} #{item.respondent.lastname}"
  %td=l item.created_at, :format => :short
  %td=deadline_or_completed_date(item)