- registrations = locals[:registrations]

%table
  %tr
    %th Sjúklingur
    %th Svarandi
    %th Beiðni send dags.
    %th= t("responder_item.status.#{locals[:name]}.column").capitalize
    -registrations.each do |r|
      %tr
        %td= "#{r.subject.firstname} #{r.subject.lastname}"
        %td="#{r.client.firstname} #{r.client.lastname}"
        %td=l r.created_at, :format => :short
        %td=deadline_or_completed_date(r)

