%h2 Ókláraðuð nýskráning
%table.pending_registrations
  %tr
    %th Sjúklingur
    %th Svarandi
    %th Beiðni send á netfang
    %th Beiðni send dags.
    %th Skilafrestur
  - @current_user.person.uncompleted_registrations.each do |r|
    %tr
      %td="#{r.subject.firstname} #{r.subject.lastname}"
      %td="#{r.client.firstname} #{r.client.lastname}"
      %td= r.client.user.email
      %td=l r.created_at, :format => :short
      %td="#{time_ago_in_words(r.deadline)} eftir"


