<!-- DELETE: Commented out 28. jan -->
<!-- 
<%= simple_form_for(@entry_set_response) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :entry_set_id %>
    <%= f.input :responder_item_id %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
 -->