<h1>Listing entry_set_responses</h1>

<table>
  <tr>
    <th>Entry set</th>
    <th>Responder item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entry_set_responses.each do |entry_set_response| %>
  <tr>
    <td><%= entry_set_response.entry_set_id %></td>
    <td><%= entry_set_response.responder_item_id %></td>
    <td><%= link_to 'Show', entry_set_response %></td>
    <td><%= link_to 'Edit', edit_entry_set_response_path(entry_set_response) %></td>
    <td><%= link_to 'Destroy', entry_set_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry set response', new_entry_set_response_path %>
