.frm-section
  %h4= t('terms.personal_information')
  .field.inp-txt
    = f.label :firstname, t('person.firstname')
    %span
      = f.text_field :firstname
  .field.inp-txt
    = f.label :lastname , t('person.lastname')
    %span
      = f.text_field :lastname
  .field.inp-txt
    = f.label :full_cpr, t('person.cpr')
    %span
      =f.text_field :full_cpr, :value => 1212121212
.frm-section
  %h4= t('terms.occupational_information')
  .field.inp-txt
    = f.label :occupation , t('person.occupation')
    %span
      = f.text_field :occupation
  .field.inp-txt
    = f.label :workplace , t('person.workplace')
    %span
      = f.text_field :workplace
