
%h1= "Register #{@wizard.current_step}"
= form_for @person do |f|
  - content_for :jstemplates do
    -options = {:partial => "spouse_form"}
    != "var spouse='#{generate_template(f, :relations, options)}'"
 
  .field.inp-txt
    = f.label :firstname
    %span
      = f.text_field :firstname
  .field.inp-txt
    = f.label :lastname
    %span
      = f.text_field :lastname
  

  =f.fields_for :relationships, @person.relationships do |relationship_form|
    =relationship_form.hidden_field :relation_id, :value => @patient.id
    =relationship_form.hidden_field :name, :value => "parent"
  
  .field
    -if patient_has_one_parent_and_person_is_not_parent(@patient,@person)
      =f.fields_for :relationships do |relationship_form|
        =render "set_patient_parents", :f => relationship_form
    -elsif @patient.parents.size == 2
      =f.fields_for parent_relationship_type(@patient, @person), @patient.parents_relationship do |relationship_form|
        =render "edit_parents_relationship", :f => relationship_form
          
  %input{:type => "hidden", :name => "next_step", :value  => @wizard.next_step_no}
  
  =f.hidden_field :sex, :value  => set_parent_gender(@wizard.current_step)
  =f.hidden_field :ispatient, :value  => 0
  #spouse
    -spouse_relationship = @person.relationships.build
    -spouse = spouse_relationship.build_relation

    / =f.fields_for :relations, spouse do |spouse_form|
    /   =spouse_form.label :firstname
    /   =spouse_form.text_field :firstname
    =f.fields_for :relationships, spouse_relationship do |srf|
      =srf.label :name
      =srf.text_field :name
      =srf.fields_for :relation, spouse do |spouse_form|
        =spouse_form.label :firstname
        =spouse_form.text_field :firstname
        
 
  /= link_to 'Add a spouse', '#spouse', :class => "add_nested_item", :rel => "spouse"


  
  
  
  
  
  
  
  
  .actions
    = f.submit