%h1= "Register #{@wizard.current_step}"
= form_for @person do |f|
 
 
  .field.inp-txt
    = f.label :firstname
    %span
      = f.text_field :firstname
  .field.inp-txt
    = f.label :lastname
    %span
      = f.text_field :lastname
  
  
  =f.fields_for :relationships, @person.relationships.child do |relationship_form|
    =relationship_form.text_field :relation_id, :value => @patient.id
    =relationship_form.text_field :name, :value => "parent"
  
  - opposite_parent = get_opposite_parent(@patient, @wizard.current_step)
 
  -if opposite_parent && @person.new_record?
    =render "set_patient_parents", :locals => opposite_paren
  -else
    =f.fields_for :relationships, @person.relationships.spouse do |relationship_form|
      =relationship_form.text_field :relation_id
      =relationship_form.text_field :name
      
    =f.fields_for :inverse_relationships, @person.inverse_relationships.spouse[0] do |inverse_relationship_form|
    
      =inverse_relationship_form.text_field :name
      =inverse_relationship_form.text_field :person_id
      =inverse_relationship_form.text_field :relation_id
      =inverse_relationship_form.date_select :end, :include_blank => true 
 
    
         
    
  %input{:type => "hidden", :name => "next_step", :value  => @wizard.next_step_no}
  
  =f.hidden_field :sex, :value  => set_parent_gender(@wizard.current_step)
  =f.hidden_field :ispatient, :value  => 0
  .actions
    = f.submit