%h1 New Patient
= form_for @person do |f|
  .field.inp-txt
    = f.label :firstname
    %span
      = f.text_field :firstname
  .field.inp-txt
    = f.label :lastname
    %span
      = f.text_field :lastname
  .field.inp-rdo
    %span
      = f.radio_button(:sex, "male")
      = f.label(:sex_male, "Karl") 
    %span
      = f.radio_button(:sex, "female") 
      = f.label(:sex_female, "Kona") 
    
  %input{:type => "hidden", :name => "next_step", :value  => "#{next_step(@current_step)}"}
  =f.hidden_field :ispatient, :value  => 1
  .actions
    = f.submit