-mother = locals[:parent]
- spouses = mother.relationships.spouse
%h3= t("terms.spouses")
%ul.spouse-info
  - spouses.each_index do |i|
    - spouse = spouses[i]
    %li 
      %span #{call_nil(spouse.start, "year")} - #{call_nil(spouse.end, "year")} 
      #{spouse.relation.firstname} #{spouse.relation.lastname}