-f ||= locals[:form_builder]
.added-spouse.nested-item.nested-context
  = f.hidden_field :name, :value => 'spouse' 
  - spouse = f.object.relation.nil? ? f.object.build_relation : f.object.relation
  .spouse-info
  .spouseform
    = f.fields_for :relation, spouse do |spouse_form|
      .field.inp-txt
        =spouse_form.label :firstname, t('person.firstname')
        %span
          =spouse_form.text_field :firstname
      .field.inp-txt
        =spouse_form.label :lastname, t('person.lastname')
        %span
          =spouse_form.text_field :lastname
      .field
        - content_for :jstemplates do
          -options = {:form_builder => f, :suffix => 'NEW_RECORD', :level => 2}
          != "var added_spouse_relationship_period_start = '#{escape_javascript render 'spouse_relationship_period_start', :locals => options}'"
          != "var added_spouse_relationship_period_end = '#{escape_javascript render 'spouse_relationship_period_end', :locals => options}'"
          
    
      -actions = {:item => "added_spouse_relationship_period", :names => ["spouse_status_off","spouse_status_on"]}
      =render "spouse_status_buttons", :locals => {:form_builder => f, :actions => actions, :suffix => 'NEW_RECORD', :level => 2}

  .field.inp-btn
    %span
      != remove_link_unless_new_record(f) 
      %a.button.small.yellow.close-spouse
        Loka
      %a.button.small.yellow.edit-spouse
        Breyta