-mother = @person.mother.first
-father = @person.father.first
-parents = [mother, father]
%div.family-overview.accordion 
  -parents.each do |p|
    %h1= t("terms.#{mother_or_father(p)}")
    %div.section
      %h2
        = "#{p.firstname} #{p.lastname}"
      %div.parent-info
        %ul
          %li
            %b= t('person.cpr')
            %span= p.full_date
            %span= p.cpr
          %li  
            %b= t('person.occupation')
            %span= p.occupation
          %li  
            %b= t('person.workplace')
            %span= p.workplace
          %li  
            %b= t('address.street_1')
            %span= p.address.street_1
            %span= p.address.street_2
          %li  
            %b= t('address.town')
            %span= p.address.zip_code
            %span= p.address.town
          %li  
            %b= t('address.home_phone')
            %span= p.address.phone
          %li  
            %b= t('person.mobilephone')
            %span= p.mobilephone
          %li  
            %b= t('person.workphone')
            %span= p.workphone
        

      %div.spouse-info
        = render "spouse_info", :locals => {:parent => p}
              
             
             
              

  %hr.break




= link_to 'Edit', edit_person_path(@person)
|
\#{link_to 'Back', people_path}
