.container
  .row{:class => 'row signup-form'}
    .span4
      = simple_form_for(User.new, :as => 'user', :url => sign_up_user_path(), :class => "form-bloat form-stretch") do |f|
        .input-append
          = render "shared/error_messages", :locals => {:form_builder => f}
          = f.input :email, label: false, placeholder: "Are you interested?", :class => "placeholder"
          = f.button :submit, "Join us!", :class => "btn"
    .span2{:class => 'offset6'}
      = link_to "Sign in!", new_user_session_path(), :class => "btn"