#header{:class => 'lights'}

  .row-fluid
    .span6{:class => 'stripes hidden-phone hidden-tablet'}
      %ul
        %li
          %em 
            = t('views.landing_page.partial.header.stripes')[0]
          %i{:class => 'fc-icon-employee-evaluation'}
        %li
          %em
            = t('views.landing_page.partial.header.stripes')[1]
          %i{:class => 'fc-icon-form-document'}
        %li
          %em
            = t('views.landing_page.partial.header.stripes')[2]
          %i{:class => 'fc-icon-dialog'}
        %li
          %em
            = t('views.landing_page.partial.header.stripes')[3]
          %i{:class => 'fc-icon-chart-documents'}
        %li
          %em
            = t('views.landing_page.partial.header.stripes')[4]
          %i{:class => 'fc-icon-secure'}


      
    .span6
      %h1.logo
        Qodiag
      %p.offset1
        = t('views.landing_page.partial.header.sub_header') 
      %img{:src => '/assets/login/computer_large.png', :alt => 'Qodiag', :class => 'computer hidden-phone hidden-tablet'}
      = link_to t("actions.log_in"), new_user_session_path(), :class => "button btn"

  =render "pages/landing_page/apply" 