%h2= t('headers.sign_up')
= simple_form_for(@user) do |f|
  .section
    = render "shared/error_messages", :locals => {:form_builder => f}
    = f.input :email
    =f.association :roles, :as => :hidden
    =f.simple_fields_for :person do |p|
      = p.input :firstname
    = f.button :submit, t('actions.create')




