-half_sibling_options = {:partial => sibling_partial("first_parent_form")}
-content_for :jstemplates do
  != "var add_father = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => [@father]}}';"
  != "var add_mother = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => [@mother]}}';"


.nested-context.nested-item
  =form_tag("/") do
    .frm-section-hrz
      %h4 Foreldri
      .field.inp-rdo
        %span
          =radio_button_tag "half_sibling", "mother", false, :class => "action_element {name: 'add_mother'}"
          =label_tag "#{@mother.firstname} #{@mother.lastname}"
        %span
          =radio_button_tag "half_sibling", "father", false, :class => "action_element {name: 'add_father'}"
          =label_tag "#{@father.firstname} #{@father.lastname}"


.nested-context.nested-item#second_parent_select