-parents = locals[:parents]
-f = locals[:form_builder]
= parents.inspect
.frm-section.nested-item.nested-context
  %h4 Foreldri
  .field.inp-rdo
    -parents.each do |parent|
      %span
        =radio_button_tag "second_parent", parent.id, false, :class => "action_element {name: 'add_second_parent', id:'#{parent.id}'}"
        =label_tag "#{parent.firstname} #{parent.lastname}"
        -local_attr = {:parent => parent, :form_builder => f}
        -content_for :jstemplates do
          !="if (second_parent[#{parent.id}] == undefined){"
          != "second_parent[#{parent.id}] = '#{escape_javascript render 'people/siblings/second_parent_form', :locals => local_attr}';"
          !="}"
    .second_parent