-f = locals[:form_builder]
-parent = locals[:parent]
-spouses = parent.spouses
-spouses.delete(@patient.opposite_parent(locals[:parent]))
.frm-section-hrz.nested-item.nested-context
  %h4 Foreldri
  .field.inp-rdo
    -spouses.each do |spouse|
      %span
        =radio_button_tag "second_parent", spouse.id, false, :class => "action_element {name: 'add_second_parent', id:'#{spouse.id}'}"
        =label_tag "#{spouse.firstname} #{spouse.lastname}"
        -locals = {:form_builder => f, :parent_id => spouse.id}
        -content_for :jstemplates do
          != "add_second_parent[#{spouse.id}] = '#{escape_javascript render 'people/siblings/second_parent_form', :locals => locals}';"
    .second_parent