-if locals[:parents].kind_of?(Array)
  -parents = locals[:parents]
-else
  -parents = [locals[:parents]]
 
-f = locals[:form_builder]
/ -spouses.delete(@patient.opposite_parent(locals[:parent]))
.frm-section.nested-item.nested-context
  %h4 Foreldri
  .field.inp-rdo
    -parents.each do |parent|
      %span
        =radio_button_tag "second_parent", parent.id, false, :class => "action_element {name: 'add_second_parent', id:'#{parent.id}'}"
        =label_tag "#{parent.firstname} #{parent.lastname}"
        -locals = {:form_builder => f, :parent_id => parent.id}
        -content_for :jstemplates do
          != "add_second_parent[#{parent.id}] = '#{escape_javascript render 'people/siblings/second_parent_form', :locals => locals}';"
    .second_parent