-first_parent_relationship = locals[:parent].relationships.build
= form_for first_parent_relationship, :remote => true do |f|  
  =f.text_field :person_id
  =f.text_field :name, :value => "parent"
  -child = first_parent_relationship.build_relation
  =f.fields_for :relation, child do |child_form|
    -spouses = locals[:parent].spouses
    -spouses.delete(@patient.opposite_parent(locals[:parent]))
    .field.inp-rdo
      -spouses.each do |spouse|
        %span
          =label_tag spouse.firstname
          =radio_button_tag "second_parent", spouse.id, "", :class => "action_element {name: 'add_second_parent', id:'#{spouse.id}'}"
          -locals = {:form_builder => child_form, :parent_id => spouse.id}
          -content_for :jstemplates do
            != "add_second_parent[#{spouse.id}] = '#{escape_javascript render sibling_partial('siblings_second_parent'), :locals => locals}';"
    
    .second_parent
    =child_form.label :firstname
    =child_form.text_field :firstname
    

    / -second_parent_relationship = child.inverse_relationships.build
    / =child_form.fields_for :inverse_relationships, second_parent_relationship do |fr_form|
    /   =fr_form.text_field :name, :value => "parent"
    /   =fr_form.text_field :person_id, :value => @father.id
  
  .field.inp-btn
    %span
      = f.submit :value => t('actions.save'),  :class => 'button green'  
