-f ||= locals[:form_builder]
.field.inp-rdo
  %span
    = f.radio_button(:sex, "male")
    = f.label(:sex_male, t(:'terms.boy')) 
  %span
    = f.radio_button(:sex, "female") 
    = f.label(:sex_female, t('terms.girl'))
.field.inp-txt
  = f.label :firstname , t('person.firstname')
  %span
    = f.text_field :firstname
.field.inp-txt
  = f.label :last , t('person.lastname')
  %span
    = f.text_field :lastname
.field.inp-sel
  = f.label :firstname , t('person.yearofbirth')
  %span
    =f.date_select :dateofbirth, {:discard_day => true, :discard_month => true}