#sibling_notice.ajax_notice

-@parents = @patient.parents
-@mother= @parents.select{|i| i[:sex] == "female"}.first
-@father = @parents.select{|i| i[:sex] == "male"}.first
-spouses = @parents.map {|p| p.spouses}.flatten - @parents


-content_for :jstemplates do
  != "var add_second_parent = {};"

-content_for :jstemplates do
  != "var add_full_sibling = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => [@mother,@father], :type => 'full_sibling'}}';"
  -unless spouses.empty?
    != "var add_half_sibling_mother = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => [@mother], :type => 'half_sibling'}}';"
    != "var add_half_sibling_father = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => [@father],:type => 'half_sibling'}}';"
    != "var add_foster_sibling = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => spouses, :type => 'foster_sibling'}}';"
  


.sibling_select.nested-context.family-registration
  =render 'people/siblings/siblings_list',  :locals => {:render_one => spouses.empty?}
  .added_sibling
  

