#sibling_notice.ajax_notice


-@mother = @patient.mother
-@father = @patient.father
-@parents = [@mother,@father].compact
-@spouses = @parents.map {|p| p.spouses}.flatten - @parents

-content_for :jstemplates do
  != "var second_parent = {};"


-content_for :jstemplates do
  -if @parents.size == 2
    != "var full_sibling = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => @parents, :type => 'full_sibling'}}';"
  -if !@father.nil?
    != "var half_sibling_father = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => [@father],:type => 'half_sibling'}}';"
  -if !@mother.nil?
    != "var half_sibling_mother = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => [@mother], :type => 'half_sibling'}}';"
  -if !@spouses.empty?  
    != "var foster_sibling = '#{escape_javascript render 'people/siblings/add_sibling', :locals => {:parents => @spouses, :type => 'foster_sibling'}}';"
  
= render 'shared/wizard_form_buttons', :locals => {:buttons => ['back','forward']} 
=render 'people/siblings/siblings_list'
= render 'shared/wizard_form_buttons', :locals => {:buttons => ['back','forward']}   

