=content_for :css_hook, "useragent-detection"

=content_for :landing_page_header do
  =render "pages/landing_page/apply_sign_in"

%br
.well
  %h1
    %span.stop
      =image_tag("useragent_detection/stop.png")
    = t('views.browser_update.content.ups')
  %p
    = t('views.browser_update.content.alert_message')

.information
  .row
    .span7{:class => "step-1"}
      =image_tag("useragent_detection/m01-clear.png")
      %p
        = t('views.browser_update.content.election')
        = image_tag "useragent_detection/ff.png"
        %a{:href => "http://www.mozilla.org/en-US/firefox/new/" }Firefox
        = t('terms.or')
        = image_tag "useragent_detection/chrome.png"
        %a{:href => 'https://www.google.com/chrome'} Chrome
        = t('views.browser_update.content.instructions')
    
      %p
        = t('views.browser_update.content.update')
      .row
        .span3
          %b 
            = t('views.browser_update.content.step1')
          %p
            = image_tag "useragent_detection/windowslogo.png"
            = t('terms.onCap') 
            Windows
            %br
            = image_tag "useragent_detection/windowsabout.png"
        .span3
          %br
          %p
            = image_tag "useragent_detection/maclogo.png"
            = t('terms.onCap')
            Mac
            = image_tag "useragent_detection/mac_about.png"
      .row
        .span6    
          %b 
            = t('views.browser_update.content.step2')
          %p
          = image_tag "useragent_detection/updatechrome.png"      
    .span4{:class=>"pull-right"}              
      =image_tag("useragent_detection/m02-clear.png")
      %p
        = t('views.browser_update.content.login')
      %br
        =image_tag("useragent_detection/snarpur_screen.png")
 