=content_for :css_hook, "useragent-detection"

=content_for :landing_page_header do
  =render "pages/landing_page/apply_sign_in"

%br
.well
  %h1
    %span.stop
      =image_tag("useragent_detection/stop.png")
    Úps...!
  %p
    Til þessa að halda þróunarkostnaði í lágmarki styður Qodiag ekki Internet explorer eða eldri gerðir af vöfrum eins og er.
    Vinsamlegastu uppfærðu vafran þinn(sjá leiðbeiningar) og skráði þig svo inn á Snarp.

.information
  .row
    .span7{:class => "step-1"}
      =image_tag("useragent_detection/m01-clear.png")
      %p
        Veldu annaðhvort
        = image_tag "useragent_detection/ff.png"
        %a{:href => "http://www.mozilla.org/en-US/firefox/new/" }Firefox
        eða 
        = image_tag "useragent_detection/chrome.png"
        %a{:href => 'https://www.google.com/chrome'} Chrome
        og fylgdu leiðbeiningum um uppsetningu.
    
      %p
        Ef þú ert þegar með slíkan vafra skalltu uppfæra hann samkvæmt eftirfarandi leiðbeiningum.
      .row
        .span3
          %b 1.Farðu í about
          %p
            = image_tag "useragent_detection/windowslogo.png"
            Á Windows
            %br
            = image_tag "useragent_detection/windowsabout.png"
        .span3
          %br
          %p
            = image_tag "useragent_detection/maclogo.png"
            Á Mac
            = image_tag "useragent_detection/mac_about.png"
      .row
        .span6    
          %b 2.Smelltu á "Update now"
          %p
          = image_tag "useragent_detection/updatechrome.png"      
    .span4{:class=>"pull-right"}              
      =image_tag("useragent_detection/m02-clear.png")
      %p
        Skráðu þig inn á www.qodiag.com
      %br
        =image_tag("useragent_detection/snarpur_screen.png")
 