:coffee
  $('document').ready () ->
    helpContent = $("#help-content").carousel('pause')
    helpContent.carousel('pause')
    helpContent.on("slid",()-> 
      helpContent.carousel('pause')
      )
    window.help = helpContent



=content_for :body_class, "help"

#help-content{:class => 'carousel slide'}
  %ol{:class => 'carousel-indicators'}
    %li{:class => 'c-icon crossroad active',:data => {:target=>"#help-content", :slide_to =>"0"}}
    %li{:class => 'c-icon crossroad',:data => {:target=>"#help-content", :slide_to =>"1"}}
    %li{:class => 'c-icon crossroad',:data => {:target=>"#help-content", :slide_to =>"2"}}
    %li{:class => 'c-icon crossroad',:data => {:target=>"#help-content", :slide_to =>"3"}}

  .carousel-inner
    .item.active
      .row
        .span11
          %h3
            = t('views.help_page.content.slides')[0]['title']
      .row
        .span6
          
          %p
            = t('views.help_page.content.slides')[0]['paragraphs'][0]
          %p
            = t('views.help_page.content.slides')[0]['paragraphs'][1]            
          
        .span5{:class => 'text-center'}
          %img{:src => '/avatars/medium/female.png', :alt => 'Image Help'}

    .item
      .row
        .span11
          %h3
            = t('views.help_page.content.slides')[1]['title']
      .row
        .span6
          
          %p
            = t('views.help_page.content.slides')[1]['paragraphs'][0]
          %p
            = t('views.help_page.content.slides')[1]['paragraphs'][1] 
        .span5{:class => 'text-center'}
          %img{:src => '/avatars/medium/male.png', :alt => 'Image Help'}
    .item
      .row
        .span11
          %h3
            = t('views.help_page.content.slides')[2]['title']
      .row
        .span6
          
          %p
            = t('views.help_page.content.slides')[2]['paragraphs'][0]
          %p
            = t('views.help_page.content.slides')[2]['paragraphs'][1] 
        .span5{:class => 'text-center'}
          %img{:src => '/avatars/medium/missing.png', :alt => 'Image Help'}
    .item
      .row
        .span11
          %h3
            = t('views.help_page.content.slides')[3]['title']
      .row
        .span6          
          %p
            = t('views.help_page.content.slides')[3]['paragraphs'][0]
          %p
            = t('views.help_page.content.slides')[2]['paragraphs'][1] 
        .span5{:class => 'text-center'}
          %img{:src => '/avatars/medium/male.png', :alt => 'Image Help'}

  %a{:href => '#help-content', :class => 'carousel-control left', :data => {:slide=>"prev"}}
    &lsaquo;
  %a{:href => '#help-content', :class => 'carousel-control right', :data => {:slide=>"next"}}
    &rsaquo;
