-content_for :landing_page_header do
  =render "pages/landing_page/header" 

.row-fluid{ :class => 'features'}
  .span3
    %i{:class => 'fc-icon-papers fc-icon-2x'}
    %h3{ :class => 'title'}
      = t('views.landing_page.content.features')[0]['title']
    %h4{ :class => 'sub-title'}
      = t('views.landing_page.content.features')[0]['subtitle']
    %p
      = t('views.landing_page.content.features')[0]['description'] 

  .span3{ :class => 'offset1'}
    %span{ :class => 'fc-icon-employee-evaluation fc-icon-2x'}
    %h3{ :class => 'title'}
      = t('views.landing_page.content.features')[1]['title']
    %h4{ :class => 'sub-title'}
      = t('views.landing_page.content.features')[1]['subtitle']
    %p
      = t('views.landing_page.content.features')[1]['description']

  .span3{ :class => 'offset1'}
    %span{ :class => 'fc-icon-needs-assesment fc-icon-2x'}
    %h3{ :class => 'title'}
      = t('views.landing_page.content.features')[2]['title']
    %h4{ :class => 'sub-title'}
      = t('views.landing_page.content.features')[2]['subtitle']
    %p
      = t('views.landing_page.content.features')[2]['description']
