=content_for :body_class, "sign-in"

%h2{:class => 'text-center'}
  %i{:class => 'fc-icon-locker icon-5x'}
.main-login
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = render "shared/error_messages", :locals => {:form_builder => f}
    = f.input :email, label: false, placeholder: "email"
    = f.input :password, label: false, placeholder: "password"
    = f.button :submit, t('actions.sign_in'), :class => "btn"
  %p{ :class => 'muted'}
  %small Vinsamlegast skráðu þig inn með lykilorði sem þú hefur fengið sent í tölvupósti.