-content_for :landing_page_header do
  =render "pages/landing_page/apply_sign_in"

%h1{:class => 'logo text-center'}
  = link_to "Qodiag", root_path()
  
%div{:class => 'text-center'}
  %i{:class => 'fc-icon-locker fc-icon-8x'}
.main-login
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = render "shared/error_messages", :locals => {:form_builder => f}
    = f.input :email, label: false, placeholder: I18n.t('user.email')
    = f.input :password, label: false, placeholder: I18n.t('user.password')
    = f.button :submit, t('actions.sign_in'), :class => "btn"
  %p{ :class => 'muted'}
  %small Vinsamlegast skráðu þig inn með lykilorði sem þú hefur fengið sent í tölvupósti.