<!-- DELETE: Commented out 28. jan -->
<!-- 
<%= simple_form_for(@entry_value) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :entry_field_id %>
    <%= f.input :entry_set_responses_id %>
    <%= f.input :string_value %>
    <%= f.input :text_value %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
 -->