%h2 Velja lykilorð
.form-base
  = simple_form_for @user, :url => user_confirmation_path, :html => { :method => :put } do |f|
    = f.input :invitation_token, :as => :hidden
    = f.input :password
    = f.input :password_confirmation
    %p= f.submit I18n.t('actions.register'), :class => 'button small china2' 
