/TODO: Create registration form when respondent is guardian only
=content_for :css_hook, "registration"
%h1.china-4
  = "#{t('role.client')} #{t('actions.sign_up').downcase}"
.form-base.col-2
  = simple_form_for @user, :url => invitation_path(:user), do |f|
    / = render "shared/error_messages", :locals => {:form_builder => f} 
    =f.simple_fields_for :person do |parent|
      .form-section
        %h2= t("terms.parent")
        =f.input :email
        =render "parent", :f => parent
      .form-section
        %h2= t("terms.client")
        =render "child", :f => parent
    
    %hr.break
    =f.submit t('actions.create'), :class => 'button small china2' 
