%h2= "#{t('role.client')} #{t('actions.sign_up').downcase}"
= simple_form_for @user, :url => invitation_path(:user) do |f|
  = render "shared/error_messages", :locals => {:form_builder => f}
  = debug @user.errors
  =f.input :email
  =f.association :roles, :as => :hidden

  =f.simple_fields_for :person, @parent  do |parent|
    .section.parent
      =render "parent", :f => parent
    .section.child
      = render "child", :f => parent


  =f.submit t('actions.create')
