%aside{:class=>"profile-nav alt green-border"}
  .user-heading{:class=>"alt green-bg"}
    %a{:href=>"/people/" + @person.id.to_s}
      =image_tag @person.avatar.url(:small), {:alt => ''}
    %h1
      = @person.full_name
    %p
      = @person.age.to_s + ' ' + t("surveys.terms.age")
%section{:class=>"panel"}
  .panel-body
    %ul{:class=>"summary-list"}
      %li{:class=>"col-lg-4"}
        %a{:href=>"#"}
          %i{:class=>"fa fa-bar-chart-o #{params[:action] == 'show' ? 'text-primary' : ''}" }
          = t("terms.timeline")

      %li{:class=>"col-lg-4"}
        %a{:href=>"/#people/#{@person.id.to_s}/entries"}
          %i{:class=>"fa fa-list-alt #{params[:action] == 'history' ? 'text-primary' : ''}"}
          = t("terms.history")
      %li{:class=>"col-lg-4"}
        %a{:href=>"/#people/" + @person.id.to_s + "/profiles"}
          %i{:class=>"fa fa-file-text-o #{params[:action] == 'edit' ? 'text-primary' : ''}"}
          = t("terms.personal_information")