 <div class="avatar">
    <img src="<%= avatar %>" >
    <a href="#" onclick="$('.avatarUploadModal_<%= id %>').toggle();return false;"><span class="btn btn-mini dialog"><i class="icon-upload"></i></span></a>
 </div>
 <h4><%= firstname + ' ' + lastname %> <span class="btn btn-mini edit-item"><i class="icon-pencil"></i></span></h4>
  <table>
   <tr>
     <td><%= I18n.t("person.full_cpr") %>:</td>
     <td><%= full_cpr %></td>
   </tr>
   <tr>
     <td><%= I18n.t("address.street_1") %>:</td>
     <td><%= address.get('street_1') %></td>
   </tr>
   <tr>
     <td><%= I18n.t("address.phone") %>:</td>
     <td><%= address.get('phone') %></td>
   </tr>
   <tr>
     <td><%= I18n.t("address.home_phone") %>:</td>
     <td><%= address.get('home_phone') %></td>
   </tr>
   <tr>
     <td><%= I18n.t("person.workplace") %>:</td>
     <td><%= workplace %></td>
   </tr>
   <tr>
     <td><%= I18n.t("person.workphone") %>:</td>
     <td><%= workphone %></td>
   </tr>
</table>

<div class="upload modal hide avatarUploadModal_<%= id %>">
    <div class="modal-header"><h3><%= I18n.t("views.profiles.upload_image") %></h3></div>
    <div class="modal-body">
        <form accept-charset="UTF-8" class="edit_person" enctype="multipart/form-data" method="post" id="avatarUploadForm_<%= id%>" action="/people/<%= id %>">
            <input name="utf8" type="hidden" value="✓">
            <input name="subject_id" type="hidden" value="<%= subject_id %>">
            <input name="_method" type="hidden" value="put">
            <input name="authenticity_token" class="authenticity_token" type="hidden" value="">
            <input id="person_avatar" name="person[avatar]" type="file">
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="$('.avatarUploadModal_<%= id %>').toggle();return false;"><%= I18n.t("actions.cancel") %></a>
        <a href="#" class="btn btn-primary" onclick="document.forms.avatarUploadForm_<%= id%>.submit();return false;"><%= I18n.t("actions.send") %></a>
    </div>
</div>
