 <h4><span class="icon-edit edit-item"></span> <%= firstname + ' ' + lastname %></h4>
  <table>
   <tr>
     <td><%= I18n.t("person.full_cpr") %>:</td>
     <td><%= full_cpr %></td>
   </tr>
   <tr>
     <td><%= I18n.t("address.street_1") %>:</td>
     <td><%= address.street_1 %></td>
   </tr>
   <tr>
     <td><%= I18n.t("address.phone") %>:</td>
     <td><%= address.phone %></td>
   </tr>
   <tr>
     <td><%= I18n.t("address.home_phone") %>:</td>
     <td><%= address.home_phone %></td>
   </tr>
   <tr>
     <td><%= I18n.t("person.workplace") %>:</td>
     <td><%= workplace %></td>
   </tr>
   <tr>
     <td><%= I18n.t("person.workphone") %>:</td>
     <td><%= workphone %></td>
   </tr>
</table>
