
<h4><span class="icon-edit edit-item"></span> <%= firstname %> <%= lastname %></h4>
<ul class="reset">
    <li><%= I18n.t("person.full_cpr")%>: <%= full_cpr %></li>
    <li><%= I18n.t("person.dateofbirth")%>: <%= dateofbirth %></li>

</ul>
