- content_for :jstemplates do
  != "var guardian = '#{escape_javascript render 'people/guardians/guardian_form'}';" 
= render 'shared/wizard_form_buttons', :locals => {:buttons => ['back','forward']} 
= render 'people/guardians/notice'
- guardians = @patient.non_parent_guardians
%h3 Forræðishafar
%table
  %thead
    %tr
      %th Nafn
      %th Tók við forræði dags.
      %th{:colspan => 2}
  %tbody
    =render :partial => "people/guardians/guardian", :collection => guardians
    
= render 'shared/wizard_form_buttons', :locals => {:buttons => ['back','forward']} 
     

