-if @person.eql?(@patient) : @person = Person.new
= form_for @person, :remote => true do |f|  
 
  .frm-section.nested-context
    %h4= t('terms.guardianship')
    -guardianship = get_relationship(@person,@patient, 'guardian')
    =f.fields_for :relationships, guardianship  do |guardian_relationship|
      =render "people/parents/relationship_status", :locals => {:form_builder => guardian_relationship, :status => 1}
      =render "people/parents/relationship_start", :locals => {:form_builder => guardian_relationship }

  =render "people/basic_person_information", :f => f
  .frm-section
    -address = @person.address.nil? ? @person.build_address : @person.address
    %h4= t('terms.contact_information')
    =f.fields_for :address, address do |address_form|
      =render "addresses/address", :f => address_form
      =render "people/phone_information", :f => f
  %hr.clear
  .field.inp-btn
    %ul
      %li
        %button.x-small.red.button.cancel
          ="#{t('actions.cancel')}"  
      %li
        = f.submit :value => t('actions.save'),  :class => 'button green x-small'
