<div class="window">
    <span class="icon-close close"></span>
    <div class="left">
      <h3><%= I18n.t("surveys."+name+".name")%></h3>
      <ul class="state-msg">
        <li class="m-idle">
          <div class="alert alert-info">Veldu dagsetningu til að senda beiðni</div>
        </li>
        <li class="m-selected"></li>
        <li class="m-sending"></li>
        <li class="m-success">
          <div class="alert alert-block alert-success">
            <h4><%= I18n.t("views.responder_items.requests.have_sent") %></h4>
            <%= I18n.t("views.responder_items.requests.sent_another") %>
          </div>
        </li>
        <li class="m-error">
          <div class="alert alert-block alert-error">
            <h4><%= I18n.t("views.responder_items.requests.error") %></h4>
            <%= I18n.t("views.responder_items.requests.contact_admin") %>
          </div>
        </li>
      </ul>
    </div>
    <div class="calendar right"></div>
    <ul class="btn-controls">
      <button class="btn btn-cancel"><%= I18n.t("actions.cancel") %></button>
      <button class="btn btn-success btn-submit"><%= I18n.t("actions.send") %></button>
    </ul>
</div>
