- f = locals[:form_builder] 
- level = locals[:level] == nil ? "" : "_lvl2"
- suffix = locals[:suffix]
- item = locals[:item]

- content_for :jstemplates do
  != "var guardian_relationship = '#{escape_javascript render 'people/parents/guardian_relationship', :locals => {:form_builder => f, :suffix => 'NEW_RECORD', :level => 1}}'"

.field.inp-rdo
  %span
    =f.radio_button :status, '1', :class => "add_nested_item#{level} {item: '#{item}'}"
    =f.label :status, t("relationship.is_guardian")
  %span
    =f.radio_button :status, '0', :class => "remove_nested_item {item: '#{item}'}"
    =f.label :status, t("relationship.not_guardian")
  .guardianship
    =render "people/parents/guardian_relationship", :locals => {:form_builder => f}
  
