<li class=<%=cssClass%>>
  <span><%=stepNo%></span>
  <%if(formModelId == null) {%>
    <a href="#">
      <%= stepName%>
    </a>
  <%}else{%>
    <a href=<%="#step/s"+stepNo +"/i"+ formModelId%>>
      <%= stepName%>
    </a>
  <%}%>
</li>
