<li class=<%=cssClass%>>
  <span><%=stepNo%></span>
  <%if(rootObjectId == null) {%>
    <a href=<%="#step/s"+stepNo%>>
      <%= stepName%>
    </a>
  <%}%>
  <%if(rootObjectId != null) {%>
    <a href=<%="#step/s"+stepNo +"/i"+ rootObjectId%>>
      <%= stepName%>
    </a>
  <%}%>
</li>
