!!!
%html
  %head
    = yield(:head)
    =csrf_meta_tag
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{:type => 'text/javascript'}
      ="I18n.defaultLocale = '#{I18n.default_locale}';"
      ="I18n.locale = '#{I18n.locale}';"


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    %title
      Patients:
      = controller.action_name

  %body{:class => role_view}
    #wrapper
      #header
        %h2 Snarpur í vinnslu
        %ul.nav
          %li.home
            %a{:href => "/users"}
              = t('navigation.home')
        =render 'shared/log_in_out'
      #flash
        -flash.each do |name, msg|
          %div{:class => name}
            =msg
      #container
        #content
          = yield
      #footer
        %span
          Snarpur 2010 | Fallegt virkar betur

