!!!
%html
  %head
    = yield(:head)
    =csrf_meta_tag
    %meta{:name=>"google-site-verification", :content=>"mO7szk36fHNwg1nh6VBdFd06pvxWmpUlbMe3PZ8T3BY"}
    / = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    %script{:type => 'text/javascript'}
      ="I18n.defaultLocale = '#{I18n.default_locale}';"
      ="I18n.locale = '#{I18n.locale}';"


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    =yield :backbone_bootstrap
    
    %title
      Snarpur

  %body{:class => yield(:body_class)}
    #wrapper{:class => role_view}
      #header
        %h2 Snarpur
        %div
          =render 'shared/log_in_out'
      #flash
        -flash.each do |name, msg|
          %div{:class => name}
            =msg
      #container{:class => yield(:css_hook)}
        #help
          %a{:href => "/pages/help"} 
            Upplýsingar
        %ul.nav
          %li.home
            %a{:class => 'c-icon', :href => "/users"} &#8962;

        = yield :subject_nav
        #content
          = yield
      #footer
        %span
          ="Snarpur #{Date.today.year}| Fallegt virkar betur"
    - unless Rails.env['development'] || Rails.env['test']
      =render "shared/google_analytics"
