!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    = yield(:head) 
    = csrf_meta_tag
    = stylesheet_link_tag "../javascripts/jquery-ui/css/smoothness/jquery-ui-1.8.2.custom.css"
    = stylesheet_link_tag "buttons.css"
    = stylesheet_link_tag "compiled/application.css"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold'



    =javascript_include_tag :defaults
    =javascript_include_tag 'action_items'
    =javascript_include_tag 'action_elements'
    =javascript_include_tag 'jquery.create.js','init.js'
    =javascript_tag do
      = yield(:jstemplates) 

    %title
      Patients:
      = controller.action_name

  %body
    %p.notice= notice
    %p.alert= alert

    %div#wrapper
      %div#header
        %h2 Snarpur í vinnslu
      %div#container
        %div#content
          = yield
      %div#footer
        %span 
          Snarpur 2010 | Fallegt virkar betur
    %div#dialog
