!!!
%html
  %head
    =yield(:head)
    =csrf_meta_tag
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}
    %link{:href=>'http://fonts.googleapis.com/css?family=Lato:400,700,900,300', :rel=>'stylesheet', :type=>'text/css'}
    =stylesheet_link_tag "application"
    =javascript_include_tag "backbone_application"

    %script{:type => 'text/javascript'}
      = "I18n.defaultLocale = '#{I18n.default_locale}';"
      = "I18n.locale = '#{I18n.locale}';"

    =javascript_include_tag i18n_assets(I18n.locale)

    
    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    =yield :backbone_bootstrap
    
    %title
      Qodiag - Quality of diagnosis

  %body{:class => yield(:body_class)}
    #page{:class => 'container'}

      #header
        %h1{:class => 'logo'}
          = link_to "Qodiag", root_path()
        %div{:class => 'usernav'}
          =render 'shared/log_in_out'

      #navigation
        =render 'shared/site_navigation'


      #wrapper
        #content-header
          =yield :alert_login_as
          =yield :subject_content

        #content
          =yield

      #flash
        -flash.each do |name, msg|
          %div{:class => name}
            =msg

    #footerwrap
      %span
        ="Qodiag #{Date.today.year}  |  Quality of Diagnosis"


    =render "shared/google_analytics"
