!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    = stylesheet_link_tag "compiled/application.css"
    / = stylesheet_link_tag "/javascripts/jquery-ui-1.8.1/development-bundle/themes/smoothness/jquery.ui.core.css"
    / = stylesheet_link_tag "/javascripts/jquery-ui-1.8.1/development-bundle/themes/smoothness/jquery.ui.theme.css"
    / = stylesheet_link_tag "/javascripts/jquery-ui-1.8.1/development-bundle/themes/smoothness/jquery.ui.tabs.css"
    / = stylesheet_link_tag "/javascripts/jquery-ui-1.8.1/development-bundle/themes/smoothness/jquery.ui.dialog.css"
    / = stylesheet_link_tag "buttons.css"
    = yield(:head) 

    - javascript_tag do 
      = yield(:jstemplates)
    / = javascript_include_tag "jquery-ui-1.8.1/development-bundle/jquery-1.4.2.js"
    / = javascript_include_tag "jquery-ui-1.8.1/development-bundle/ui/jquery-ui-1.8.1.custom.js"
    / = javascript_include_tag "plugins/metadata/jquery.metadata.js"
    / = javascript_include_tag "plugins/editable/jquery.editable-1.3.3.js"
    / = javascript_include_tag "main.js"
    
    
    
    
    
    %title
      Patients:
      = controller.action_name
  %body
    %div#wrapper
      %div#container
        %div#header
          %h2 Snarpur í vinnslu
          /- if !flash.empty?
          %span= flash[:notice]
            
          / %div#login
          /   - if user_signed_in?
          /     %p=  "you are now logged in as: #{current_user.email}"
          /     = link_to 'Sign out', destroy_user_session_path, :class => "button small green"
          /   - else
          /     = link_to 'Sign up as User', new_user_registration_path, :class => "button small green" 
          /     = link_to 'Sign in as User', new_user_session_path, :class => "button small green" 
        %div#content
          = yield
      %div#footer
        %span 
          Snarpur 2010 | Fallegt virkar betur
