!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    = yield(:head)


    =stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans&v1'
    =include_stylesheets :common
    =include_javascripts :common, :snarpur, :high_chart


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    %title
      Patients:
      = controller.action_name

  %body{:class => role_view}
    #wrapper
      =render "shared/debug/annotations"
      #header
        %h2 Snarpur í vinnslu
        %ul.nav
          %li.home
            %a{:href => "/"}
              = t('navigation.home')
          %li.settings
            %a{:href => "/"}
              = t('navigation.settings')
        =render 'shared/log_in_out'
      #flash
        -flash.each do |name, msg|
          %div{:class => name}
            =msg
      #container
        #content
          = yield
      #footer
        %span
          Snarpur 2010 | Fallegt virkar betur
    #dialog
    //=include_javascripts :snarpur_test
