!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    = yield(:head) 
    
    = stylesheet_link_tag "compiled/application.css"
    /= stylesheet_link_tag "../javascripts/jquery-ui/css/smoothness/jquery-ui-1.8.2.custom.css"
    = stylesheet_link_tag "buttons.css"


    =javascript_include_tag 'jquery'
    =javascript_include_tag "jquery-ui/development-bundle/ui/jquery-ui-1.8.2.custom.js"
    =javascript_include_tag "jquery.metadata/jquery.metadata.js"
    =javascript_include_tag 'application'
    =javascript_include_tag 'action_items'
    =javascript_include_tag 'action_elements'
    =javascript_tag do
      = yield(:jstemplates) 





    
    
    
    
    
    %title
      Patients:
      = controller.action_name
  %body
    %div#wrapper
      %div#container
        %div#header
          %h2 Snarpur í vinnslu
          /- if !flash.empty?
          %span= flash[:notice]
            
          / %div#login
          /   - if user_signed_in?
          /     %p=  "you are now logged in as: #{current_user.email}"
          /     = link_to 'Sign out', destroy_user_session_path, :class => "button small green"
          /   - else
          /     = link_to 'Sign up as User', new_user_registration_path, :class => "button small green" 
          /     = link_to 'Sign in as User', new_user_session_path, :class => "button small green" 
        %div#content
          = yield
      %div#footer
        %span 
          Snarpur 2010 | Fallegt virkar betur
