!!!
%html
  %head
    = yield(:head)
    =csrf_meta_tag
    = stylesheet_link_tag "simple_styles"
    / %script{:type => 'text/javascript'}
    /   ="I18n.defaultLocale = '#{I18n.default_locale}';"
    /   ="I18n.locale = '#{I18n.locale}';"

    %title
      Qodiag

  %body{:class => yield(:css_hook)}
    #wrapper
      #container
        #content
          = yield
      #footer
        %span
          ="Qodiag #{Date.today.year}| Quality of Diagnosis"
    =render "shared/google_analytics"